{% load staticfiles %}
{% load filters %}

<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lightning CoinDesk</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
  </head>
  <body>
    <div id="wrapper">
      {% block header %}
      <div id="header" class="animated fadeInDown">
        <div id="headerleft">
          <a id="t_holder" href="/"></a>
          <span class="headerlinks">
            <a href="/" class="cur_url">Lightning CoinDesk</a>
          </span>
        </div>

        <div id="headerright">
          <span class="headerlinks">
          {% if request.user.is_authenticated %}
            <a id="username_display" href="/logout">{{ user.username }}</a>
            <!--
            <a href="/buy">
              <span class="upvote"></span>
              <div class="views">{{ profile.upvote_balance }}</div>
            </a>
            -->
          {% else %}
            <a href="/login" class="login-btn">Login</a>
          {% endif %}
          </span>
        </div>

        <div class="clear"></div>
      </div>
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static "js/main.js" %}"></script>
  </body>
</html>
