{% extends 'base.html' %}

{% block content %}
  <div id="inside">
    <div id="login" class="ln-dialog">
      <form id="submit_box" action="/verify/" method="post"
            class="animated fadeInDown delay">
        {% csrf_token %}
        <h3>Login</h3>
        <p>To log in, simply sign this generated message with LND to prove your identity:</p>
        <p class="small">{{ csrf_token }}</p>
        <input type="text" id="submit_signature" class="text_field" placeholder="Paste signature here"><br>
        <input type="submit" value="Login With Lightning"></input>
      </form>
    </div>
  </div>
{% endblock %}
