<div id="payment" class="lightning-login">
  <form id="submit_box" action="/pay/" method="post"
        class="animated fadeInDown delay">
    {% csrf_token %}
    <h3 class="login_title">Make Payment</h3>
    <p>To view this article, please make a payment to the payment hash below:</p>
    <p class="small">[payment hash]</p>
    <input type="text" id="submit_signature" class="text_field" placeholder="Paste signature here"><br>
    <input type="submit" value="Check for payment"></input>
  </form>
</div>
